<div class="navbar-header">

  <div class="nav-left">
    <%= link_to root_path, class: "navbar-logo" do %>
      <h5>Pontful</h5>
    <% end %>
  </div>

    <div class="nav-right">
      <% if user_signed_in? %>

        <% avatar_url = current_user.facebook_picture_url %>
        <% if avatar_url %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= cl_image_tag current_user.avatar, :height=>300, :width=>300, :crop=>"fill", :gravity=>"face",class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Profile", "/profile", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>

      <% else %>

        <%= link_to "Entrar", new_user_session_path, class: "navlogin" %>
        <%= link_to "Cadastrar", new_user_registration_path, class: "navbutton" %>

      <% end %>
    </div>

</div>
