<h5>Empresas:</h5>

<div class="degrees-box">
  <% @companies.each do |company| %>
    <div class="degree-box">
      <p><%= company.name %> </p>
      <%= link_to "Perfil da loja", company_path(company), class: "btn btn-primary" %>


      <p>Setor: <%= company.sector %></p>
      <p>Endereço: <%= company.address %></p>
      <p><i class="fas fa-phone"></i> <%= company.phone %></p>
      <p>Crie uma vaga para <%= company.name %></p>
      <%= link_to "Criar vaga", new_company_job_path(company), class: "btn btn-primary" %>

      <br>

      <% company.jobs.each do |job| %>
        <% job.title %>
        <%= link_to "Detalhes da vaga", company_job_path(job), class: "btn btn-primary" %>
        Link para editar job
        Link para remover
      <% end %>

    </div>
  <% end %>
</div>

<%= link_to "Incluir empresa", new_company_path, class: "btn btn-secondary" %>
