<h5>Experiência profissional:</h5>

<div class="degrees-box">
  <% @experiences.each do |experience| %>
    <div class="degree-box">
      <p>Empresa: <%= experience.company_name %> (<%= experience.company_sector %>)</p>
      <p>Cargo: <%= experience.title %></p>
      <p>Área: <%= experience.sector %></p>
      <p>Descrição: <%= experience.description %></p>
      <p>Tempo na empresa: <%= experience.level %></p>
      <div class="edit-box">
        <%= link_to "Editar", edit_experience_path(experience), class: "edit-remove" %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Incluir experiência", new_experience_path, class: "btn btn-secondary btn-sm" %>
