<h5>Experiência profissional:</h5>

<div class="degrees-box">
  <% @experiences.each do |experience| %>
    <div class="degree-box">
      <p>Empresa: <%= experience.company_name %> (<%= experience.company_sector %>)</p>
      <p><%= experience.title + " " + experience.level + " (" + experience.sector + ")" %></p>
      <p><%= experience.description %></p>
      <p><%= experience.start_date %> - <%= experience.end_date %></p>
    </div>
  <% end %>
</div>

<%= link_to "Incluir experiência", new_experience_path, class: "btn btn-secondary" %>
