<h5>Formação educacional:</h5>

<div class="degrees-box">
  <% @degrees.each do |degree| %>
    <div class="degree-box">
      <p><%= degree.level %>
        <% if degree.complete == "1" %>
          Completo
        <% else %>
          Incompleto
        <% end %>
      </p>
      <p>Instituição: <%= degree.school_name %></p>
        <% if degree.field.empty? %>
        <% else %>
         <p>Curso: <%= degree.field %></p>
        <% end %>
      <div class="edit-box">
        <%= link_to "Editar", edit_degree_path(degree), class: "edit-remove" %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Incluir diploma", new_degree_path, class: "btn btn-secondary btn-sm" %>
