<div class="container col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="profile-box">

    <% if @user.degrees.empty? || @user.experiences.empty? %>
      <p><strong> Dica:</strong> Perfis completos têm melhores chances de conseguir uma vaga.</p>
      <%= link_to "Completar perfil", new_degree_path, class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Começar", root_path, class: "btn btn-primary" %>
      <%= render 'user-details' %>
      <%= render 'user-degrees', degrees: @degrees %>
      <%= render 'user-experiences', experiences: @experiences %>
      <%= render 'user-courses', courses: @courses %>
    <% end %>

  </div>
</div>
