<div class="container col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="profile-box">

    <% if @user.degrees.empty? && @user.companies.empty? %>
      <p class="sub-header">Quer encontrar uma vaga adequada ao seu perfil?</p>
      <%= link_to "Completar perfil", new_degree_path, class: "btn btn-primary" %>
      <div class="separator">
      </div>
      <p class="sub-header">Representa uma empresa e quer contratar?</p>
      <%= link_to "Cadastrar empresa", new_company_path, class: "btn btn-secondary" %>
    <% else %>

      <h6>Ainda não foi possível encontrar uma vaga com o seu perfil.</h6>
      <!-- <h6>Obrigado por se cadastrar! As vagas estarão disponíveis a partir de 01 de Junho.</h6> -->
      <!-- <a href="mailto:marcus.maione@vagazap.com">Dúvidas ou sugestões: marcus.maione@vagazap.com</a> -->

      <% if @user.profile_incomplete? %>
        <br>
        <h6>Você precisa completar o seu perfil antes de continuar.</h6>
        <%= link_to "Completar perfil", edit_user_registration_path, class: "btn btn-primary" %>
      <% elsif @user.coordinates_incomplete? %>
        <br>
        <h6>Você precisa atualizar seu endereço no cadastro antes de continuar.</h6>
        <%= link_to "Atualizar endereço", edit_user_registration_path, class: "btn btn-primary" %>
      <% else %>
        <!-- Habilitar botão quando tiver vagas -->
        <%#= link_to "Vagas disponíveis", root_path, class: "btn btn-primary" %>

        <%= render 'user-details' %>
        <% if current_user.companies.count == 0 %>
          <%= render 'user-degrees', degrees: @degrees %>
          <%= render 'user-experiences', experiences: @experiences %>
          <%= render 'user-courses', courses: @courses %>
        <% else %>
          <%= render 'user-companies', companies: @companies %>
        <% end %>

      <% end %>
    <% end %>

  </div>
</div>
