<div class="container col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="form-box">

    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to icon('fab', 'facebook') + " Entrar com #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: "btn btn-primary btn-facebook" %>
      <% end %>
    <% end %>

    <h5>Entrar com seu e-mail:</h5>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    :label => "E-mail:" %>
        <%= f.input :password,
                    required: true,
                    input_html: { autocomplete: "current-password" },
                    :label => "Senha:" %>
        <%= f.input :remember_me, as: :boolean, :label => "Lembrar de mim" if devise_mapping.rememberable? %>

      <div class="form-actions">
        <%= f.submit class: 'btn btn-primary', value: "Entrar" %>
      </div>
    <% end %>

      <br>
      <%= link_to "Esqueceu sua senha?", new_password_path(resource_name), class: 'text-link' %>
      <p>Ainda não tem conta?</p>
      <%= link_to "Cadastrar", new_user_registration_path, class: 'btn btn-secondary' %>

  </div>
</div>


